.horizontalCenter{
    text-align: center;
}

.divPadding {
    padding: 18px;
}

.MuiAccordionSummary-expandIcon{
    color: white !important;
}

.viceCaptainChip {
    border: 3px solid green !important;
}